<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Please enter your info to get started</h2>
  
  <input type="text" name="first name" placeholder="first name">
  <input type="text" name="last name" placeholder="last name">
  <input type="number" placeholder="phone">
  <input type="text" name="zip code" placeholder="zip code">
  <button type="submit">submit</button>
  <!-- after clicking submit users are taken to another or a modal pops up to enter the needs -->

</body>
</html>