<div class=" parallax-container">
    <div class="parallax"><img src="/styles/assets/navlogo.png"></div>
</div>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Home</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">View Needs</a></li>
            <li><a href="/">Deeds</a></li>
        </ul>
    </div>
</nav>
<div class="container white z-depth-5">
    <p class="flow-text" style="text-align: center;">
       Your Needs are Ready to Become Deeds!
    </p>
    <ul class="collapsible z-depth-0">
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Need 1</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Need 2</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Need 3</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul> <br>
</div> <br> <br>

{{!-- Footer --}}
<footer class="page-footer blue-grey lighten-3">
    <div class="container">
        <div class="row blue-grey lighten-3">
            <div class="col s12">
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" style="padding: 16px;" href="/#tos">terms</a>
            </div>
        </div>
        <div class="col l4 offset-l8 s12" style="text-align:end;">
            <h5 class="white-text">Created By</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Adena McGibbon<img src="/styles/assets/github.png"
                            style="margin-left:12px;"></a>
                    </a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Richard Germaine<img src="/styles/assets/github.png"
                            style="margin-left:12px;"></a>
                </li>
                <li><a class="grey-text text-lighten-3" href="#!">Miana Kassis<img src="/styles/assets/github.png"
                            style="margin-left:12px;"></a></a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Carina Ullman<img src="/styles/assets/github.png"
                            style="margin-left:12px;"></a></a></li>
            </ul>
        </div>
    </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright
            <a class="grey-text text-lighten-4 right" href="https://github.com/AdenasGittinIt/deedlist">Check out our
                repo
                on
                gitHub<img src="/styles/assets/gitrepo.png"></a>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/materialize.js"></script>
<script type="text/javascript" src="/js/index.js"></script>