body {
  background-color:#ffecb3;
}

footer {
  -webkit-animation-name: message;
  -webkit-animation-duration: 3s;
}

.list-group-item {
  line-height: 2.5;
}

.parallax {
text-align: center;
display: flex;
-webkit-animation-name: welcome;
-webkit-animation-duration: 2.5s;
}

.modalButton {
  text-align: center;
  padding: 16px;
  -webkit-animation-name: message;
  -webkit-animation-duration: 2s;
}

.btn {
  color: #eeeeee; 
  background-color: #ff5722;
  width:20%;
  height: 100px;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-transform: lowercase;
  margin-right:25px;
}

.whatIs {
 background-color:#607d8b;
 color: #eeeeee;
 text-align: center;
 padding: 8px;
 border-radius: 32px;
 -webkit-animation-name: message;
 -webkit-animation-duration: 10s;

}
.whatIs:hover{
  background-color: #ff5722;
  color: #eceff1;
  text-align: center;
  padding: 8px;
  border-radius: 32px;
}

.btn:hover {
  color:#eceff1;
  background-color:#e64a19;
}

.welcome {
  font-family: 'Quicksand', sans-serif; 
  font-size: 100px;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: 3s;
  
}

.message {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 30px;
  -webkit-animation-name: message;
  -webkit-animation-duration: 5s;
}

@keyframes message{
  0% {opacity:0;}
  50%{opacity:0;}
  100% {opacity: 1;}
}

@keyframes welcome{
 from {opacity: 0;}
  to {opacity: 1;}
}