html{
  /* max-width: 100%; */
}

body {
  background-color:#ffecb3;
}

footer {
  -webkit-animation-name: message;
  -webkit-animation-duration: 3s;
}
.navLogo {
  max-width: 100%;
  height: 75%;
  display: flex;
  -webkit-animation-name: welcome;
 -webkit-animation-duration: 2.5s;
}
.nav-wrapper {
  background-color: #a1887f ;
  -webkit-animation-name: welcome;
 -webkit-animation-duration: 2.5s;
}

.list-group-item {
  line-height: 2.5;
}

.parallax {
text-align: center;
display: flex;
-webkit-animation-name: welcome;
-webkit-animation-duration: 2.5s;
}

.modalButton {
  text-align: center;
  padding: 16px;
  -webkit-animation-name: message;
  -webkit-animation-duration: 2s;
}

.btn {
  color: #eeeeee; 
  background-color: #ff5722;
  width:20%;
  height: 100px;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-transform: lowercase;
  margin-right:25px;
}

.whatIs {
 background-color:#607d8b;
 color: #eeeeee;
 text-align: center;
 padding: 8px;
 border-radius: 32px;
 -webkit-animation-name: message;
 -webkit-animation-duration: 10s;

}
.whatIs:hover{
  background-color: #ff5722;
  color: #eceff1;
  text-align: center;
  padding: 8px;
  border-radius: 32px;
}

.btn:hover {
  color:#eceff1;
  background-color:#e64a19;
}

.welcome {
  font-family: 'Quicksand', sans-serif; 
  font-size: 100px;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: 3s;
  
}

.message {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 30px;
  -webkit-animation-name: message;
  -webkit-animation-duration: 5s;
}

@keyframes message{
  0% {opacity:0;}
  50%{opacity:0;}
  100% {opacity: 1;}
}

@keyframes welcome{
 from {opacity: 0;}
  to {opacity: 1;}
}

/* Mobile resposive Styling */

  /* default styles here for older browsers. 
   I tend to go for a 600px - 960px width max but using percentages
  */
    @media only screen and (min-width: 960px) {
      /* styles for browsers larger than 960px; */
      .parallax {
        text-align: center;
        display: 
        -webkit-animation-name: welcome;
        -webkit-animation-duration: 2.5s;
        }
  }
  @media only screen and (min-width: 1440px) {
      /* styles for browsers larger than 1440px; */
      .parallax {
        text-align: center;
        display: flex;
        -webkit-animation-name: welcome;
        -webkit-animation-duration: 2.5s;
        }
  }
  @media only screen and (min-width: 2000px) {
      /* for sumo sized (mac) screens */
      .parallax {
        text-align: center;
        display: flex;
        -webkit-animation-name: welcome;
        -webkit-animation-duration: 2.5s;
        }
  }
  @media only screen and (max-device-width: 480px) {
     /* styles for mobile browsers smaller than 480px; (iPhone) */
     .parallax {
      text-align: center;
      display: flex;
      -webkit-animation-name: welcome;
      -webkit-animation-duration: 2.5s;
      }
  }
  @media only screen and (device-width: 768px) {
    .parallax {
      text-align: center;
      display: flex;
      -webkit-animation-name: welcome;
      -webkit-animation-duration: 2.5s;
      }
     /* default iPad screens */
  }
  /* different techniques for iPad screening */
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .parallax {
      text-align: center;
      display: flex;
      -webkit-animation-name: welcome;
      -webkit-animation-duration: 2.5s;
      }
    /* For portrait layouts only */
  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    .parallax {
      text-align: center;
      display: flex;
      -webkit-animation-name: welcome;
      -webkit-animation-duration: 2.5s;
      }
    /* For landscape layouts only */
  }